[submodule "vendor/sinatra"]
	path = vendor/sinatra
	url = git://github.com/sinatra/sinatra.git
[submodule "vendor/sinatra-authorization"]
	path = vendor/sinatra-authorization
	url = git@github.com:dalibor/sinatra-authorization.git
