- unless @post.errors.empty?
  %h4
    Errors:
  %ul
    - @post.errors.full_messages.each do |message|
      %li
        = message
%form{ :method => "post", :action => "/admin/posts/#{@post.permalink}" }
  %div
    %input{ :name => "_method", :type => "hidden", :value => "put" }
    %label{ :for => "post_title" }
      Title
    %br
    %input#post_title{ :name => "post[title]", :type => "text", :value => @post.title }
  %div
    %label{ :for => "post_body" }
      Your Article
    %br
    %textarea#post_body{ :name => "post[content]", :rows => "20", :cols => "40" }
      = @post.content
  %div
    %button{ :type => "submit" }
      Save
    or
    %a{ :href => "#{post_path(@post)}" }
      go back
    \.
